{% extends "base.html.twig" %}
{% block body %}
    <div class="container-white">
        <img class="icone" src="{{ asset('img/contactus/icone.png') }}" alt="">
        <div class="title">
            Contactez nous
        </div>
    </div>
{% endblock body %}
