{% extends "base.html.twig" %}
{% block body %}
    <div class="container-white" xmlns="http://www.w3.org/1999/html">
        <img class="icone" src="{{ asset('img/contactus/icone.png') }}" alt="">
        <div class="title">
            Contactez nous
        </div>
        <form action="{{ path("fos_user_security_check") }}" method="post" id="contactus">
            <select>
                <option value="0">Je vous contacte à propos...</option>
                <option value="1">...d'une question en particulier</option>
                <option value="2">...d'un praticien</option>
                <option value="3">...d'un problème rencontré sur le site</option>
                <option value="4">...d'autre chose</option>
            </select>

            <label>Votre email :</label>
            <input type="text" id="password" name="_password" required="required" />

            <label>Votre message :</label>
            <textarea name="content" required="required"></textarea>

            <input type="submit" value="Envoyer" >
        </form>
    </div>
{% endblock body %}
