{% extends "base.html.twig" %}
{% block body %}
    <div class="container-white container-partners">
        <img class="icone" src="{{ asset('img/partners/icone.png') }}" alt="">
        <div class="title">
            Retrouvez ici la liste de nos partenaires
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
