{% extends "base.html.twig" %}
{% block body %}
    <div class="container-white">
        <img class="icone" src="{{ asset('img/questions/icone.png') }}" alt="">
        <div class="title">
            Liste des questions
        </div>
    </div>
{% endblock body %}
