{% extends "base.html.twig" %}
{% block body %}
    <div id="container-newquestions" class="container-white">
        <img class="icone" src="{{ asset('img/questions/icone.png') }}" alt="">
        <div class="title">
            Merci pour votre retour !
        </div>
        <a href="{{ path("homepage") }}" class="button">Retour à l'accueil</a>
    </div>
{% endblock body %}
