{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_admin_content %}
	<div id="container-discussion" class="container-white">
	    <div class="title">
	        Liste des nouvelles questions
	    </div>

		{% if discussions|length != 0 %}
			<table>
				<thead>
					<th>Date</th>
					<th>Question</th>
					<th></th>
				</thead>
				<tbody>			
					{% for discussion in discussions %}
						<tr>
							<td>{{discussion.question.dateupd|date('d m Y')}}</td>
							<td>{{discussion.question.text}}</td>
							<td><a href="{{ path('adminNewQuestion', {'idDiscussion': discussion.id}) }}">Voir</a></td>
						</tr>
				    {% endfor %}
			    </tbody>
			</table>
		{% else %}
		    Il n'y a pas de nouvelles question pour le moment.
		{% endif %}

	</div>
{% endblock %}