{% extends 'VimoliaBundle:Admin:standard_layout.html.twig' %}

{% block sonata_admin_content %}
	<div id="container-discussion"  style="margin-top:0px;" class="container-white">
	    <div class="title">
	        Liste de vos questions en attentes
	    </div>
		<style>
			table{
				width:100%;
				text-align: center !important;
			}
			table .grey{
				background-color: rgba(0,0,0,0.02);
			}
			table td,table th{
				padding:5px;
				text-align: center;
			}
			table  .td-button{
				width:30%;
				padding-bottom:10px;
			}
			table .question{
				font-style: italic;
				font-size: 13px;
			}
			table .question:before{
				content:'"';
			}
			table .question:after{
				content:'"';
			}
		</style>

		{% if discussions|length != 0 %}
			<table>
				<thead>
				<th class="grey">Date</th>
				<th>Question</th>
				<th></th>
				</thead>
				<tbody>
				{% for discussion in discussions %}
					<tr>
						<td class="grey">{{discussion.question.dateupd|date('d/m/Y')}}</td>
						<td class="question">{{discussion.question.text|truncate(200)}}</td>
						<td class="grey td-button"><a class="button" href="{{ path('adminExpertQuestion', {'idDiscussion': discussion.id}) }}">Voir</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		{% else %}
			<div class="message-vide">
		    	Il n'y a pas de questions en attente pour le moment.
			</div>
		{% endif %}

	</div>
{% endblock %}