{% extends 'base.html.twig' %}

{% block body %}
    <div class="citation">
        "A votre écoute pour prendre soin de votre santé"
    </div>
    <div class="col-xs-10 col-xs-offset-1 container-white">
        a
    </div>
{% endblock %}

