{% extends 'base.html.twig' %}

{% block body %}
    <div id="container-logo">
        <img class="icone" src="{{ asset('img/homepage/logo/vimolia_2.png') }}" alt="">
    </div>


    <div id="container-citation">
        "A votre écoute pour prendre soin de votre santé"
    </div>



    <div id="container-presentation" class="container-white">
        <div class="col-xs-5 left">
            <img class="icone" src="{{ asset('img/homepage/presentation/photo.jpg') }}" alt="">
            <div class="name">
                Frédéric Zenouda
            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-1 text">
            <div class="title-text">
                Présentation
            </div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>




    <div id="container-video">
        <div class="col-xs-7">
            <iframe id="player_youtube" width="560" height="315" src="https://www.youtube.com/embed/WsYqUX5xwjc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-5 content">
            <div class="title">Notre chaine Youtube</div>
            <div class="container-items">
                <div class="item item-video" data-videourl="https://www.youtube.com/watch?v=-6q_Frq4uA0">
                    Ce Que votre Médecin ne vous a pas Dit : La Posture
                </div>
                <div class="item white item-video" data-videourl="https://www.youtube.com/embed/-6q_Frq4uA0">
                    Henri Joyeux - Nutrition & Prévention des Cancers
                </div>
                <div class="item item-video" data-videourl="https://www.youtube.com/embed/dNDYkegAAmw">
                    Linky le compteur polémique - Maxence Layet
                </div>
                <div class="item white item-video" data-videourl="https://www.youtube.com/embed/7qssnH90uY4">
                    Insomnies et Apnée du sommeil - Arnaud Metlaine
                </div>
                <div class="item item-video" data-videourl="https://www.youtube.com/embed/dNDYkegAAmw">
                    Electrosensibilité, diagnostic et traitement - Béatrice Milbert
                </div>
                <div class="item white item-video" data-videourl="https://www.youtube.com/embed/-6q_Frq4uA0">
                    Marion Kaplan - Changez votre alimentation !
                </div>
            </div>
        </div>
    </div>
    <div id="container-discussion" class="container-white">
        <div class="title">
            Dernière discussion publique
        </div>
        <div class="personne">
            <div class="col-xs-4 container_img">
                <img src="{{ asset('img/homepage/discussion/expert.jpg') }}" alt="">
            </div>
            <div class="col-xs-8">
                <div class="nom">
                    Expert 1
                </div>
                <div class="description">
                    Lorem Ipsum Delor
                </div>
            </div>
        </div>
        <div class="personne">
            <div class="col-xs-4 container_img">
                <img src="{{ asset('img/homepage/discussion/membre.jpg') }}" alt="">
            </div>
            <div class="col-xs-8">
                <div class="nom">
                    Membre
                </div>
            </div>
        </div>
        <div class="dialogue">
            <div class="nom">
                Question posée par le membre :
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
            </div>
        </div>
        <div class="dialogue expert">
            <div class="nom">
                La réponse de notre expert :
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>
{% endblock %}

