# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport: smtp
    mailer_host: macroprog.com
    mailer_user: vimolia.contact@macroprog.com
    mailer_name: 'Vimolia contact'
    mailer_registration_name: 'Vimolia inscription'
    mailer_resetting_name: 'Vimolia reset'
    mailer_password: '9hSns6&8'
    mailer_port: 465
    mailer_encryption: ssl

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    paypal_client_id: AQD6iLtG1mWtTDPY10FCC4lGPwk16-ufblA0d67yxfzYrIKIZIAbkVk_WTaqPrMN0oj2bNdHQ4pG34nj
    paypal_client_secret: ELUQZqCfMNa7n2suSzBwrfVuI1quRa4Q0bMwCyzKuIF8WULnB4iosigoAizpRk1wPGDbBosWjJIcnwjk
    paypal_mode: sandbox
    paypal_taxe_percent: 20
    user_directory: '%kernel.root_dir%/../web/uploads/users'