{% extends "base.html.twig" %}
{% block body %}
    <div class="container-white">
        <div class="title">
            Informations
        </div>
        {{aboutUs}}<br>
        {{cgu}}
    </div>
{% endblock body %}
