
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body{
    background-color: #a6366b !important;
}

a{
    color:#b65281 !important;
}

.btn.btn-success{
    background-color:#b65281 !important;
    border:none;
    width:280px;
    max-width: 500px;
}