.invalidPractItem
{
    height: 45px;
    font-size: 18px;
    border: 1px solid #1f1f1f;
    border-bottom: none;
    border-top: none;
    padding: 5px 5px 5px 15px;

}

.invalidPractItem:first-child
{
    border: 1px solid #1f1f1f;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.invalidPractItem:last-child
{
    border: 1px solid #1f1f1f;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.invalidPractItem:nth-child(odd)
{
    background-color: #e3e3e3;
}

.invalidPractItem:nth-child(even)
{
    background-color: #abb4c1;
}

.invalidPractItem .practActions
{
    float: right;
}
