
.container-contactus{

}
/****************************************************************************************/
/*                                     COORDONNES                                       */
/****************************************************************************************/
    .container-contactus .coordonnees{
        overflow: hidden;
    }
        .container-contactus .coordonnees .part{
            width: 50%;
            float: left;
            text-align: center;
            font-size: 30px;
        }
            .container-contactus .coordonnees img{
                height:40px;
            }
            .container-contactus .coordonnees .titre {
                margin-top: 15px;
                font-size: 20px;
            }

/****************************************************************************************/
/*                                     RESEAUX SOCIAUX                                  */
/****************************************************************************************/
    .container-contactus .reseaux-sociaux{
        margin-top:40px;
        overflow: hidden;
    }
        .container-contactus .reseaux-sociaux img{
            width:50%
        }
            .container-contactus .reseaux-sociaux img:hover{
                opacity: 0.5;
            }
/****************************************************************************************/
/*                                     FORMULAIRE                                       */
/****************************************************************************************/
.contactForm
{

}

.contactForm label
{
    display: block;
    margin-top:30px;
}

.contactForm input[type=text],textarea,select
{
    width:50%;
}

.contactForm input[type=email],textarea,select
{
    width:50%;
}

.contactForm textarea
{
    min-height: 200px;
    resize: none;
    font-family: "opensans";
}



