
.container-practicionners{
}
    .container-practicionners #selectDomain{
        padding: 5px;
        border: none;
        font-size: 20px;
        background-color: rgba(0,0,0,0.3);
        resize: none;
        color:white;
        margin-bottom: 15px;
    }