

/****************************************************************************************/
/*                                    DASHBOARD                                         */
/****************************************************************************************/


.container-profile{

}
    .container-profile .alert{
        text-align: center;
    }
    .container-profile .profile-nav{

    }
        .container-profile .profile-nav nav{
            color: black;
        }
            .container-profile .profile-nav nav ul{
                list-style: none;
                padding:0;
                margin: 0;
                overflow: hidden;
            }
                .container-profile .profile-nav nav ul li{
                    float:left;
                    width:50%;
                }
                    .container-profile .profile-nav nav ul li.practicien{
                        width:33%;
                        margin-bottom: 20px;
                    }
                    .container-profile .profile-nav nav ul li a{
                        font-size: 14px;
                        width:95% !important;
                        max-width: 1000px;
                        margin-top:0px;border-radius:3px;
                    }
    .container-profile .container-informations{
        overflow: hidden;
        margin-top:15px;
    }
        .container-profile .container-informations .title-part{
            font-size:12px;
            text-align: center;
        }
        .container-profile .container-informations .left{
            float: left;
            width: 40%;
        }
        .container-profile .container-informations .right{
            float: left;
            width: 58%;
            margin-left: 2%;
        }

            .container-profile .container-informations .informations-profile{
                margin-bottom: 15px;
            }
                .container-profile .container-informations .informations-profile img{
                    border-radius: 360px;
                    height:70px;
                    margin: 10px auto 10px;
                }
                .container-profile .container-informations .informations-profile .button{
                    max-width: 10000px !important;
                }
            .container-profile .container-informations .item-last-discussion{

            }
                .container-profile .container-informations .item-last-discussion{
                    text-align: center;
                }
                    .container-profile .container-informations .item-last-discussion .question{
                        width: 90%;
                        color:#838383;
                        margin:10px auto 10px;
                        font-style: italic;
                    }
                    .container-profile .container-informations .item-last-discussion .membre{
                        font-size:10px;
                        color:#a6366b;
                    }
                    .container-profile .container-informations .item-last-discussion .button{
                        font-size: 14px;
                        max-width: 1000px;
                    }

            .container-profile .container-informations  .discussion-evol{

            }
                .container-profile .container-informations .discussion-evol img{
                    width:100%;
                }


/****************************************************************************************/
/*                          PAGE PUBLIQUE PRACTICIEN                                    */
/****************************************************************************************/
.container-white.container-pract-profile{
    padding:0px;
    overflow: hidden;
}
    .container-white.container-pract-profile .banner{
        max-height: 200px;
        overflow: hidden;
    }
        .container-white.container-pract-profile .banner img{
            width:100%;
        }
    .container-white.container-pract-profile .pract-type{
        padding:15px;
        background-color:#a6366b;
        width:250px;
        margin:0px auto -50px;
        color:white;
        position: relative;
        top:-125px;
    }

    .container-white.container-pract-profile .informations{
        overflow: hidden;
        text-align: left;
        min-height: 300px;
    }
        .container-white.container-pract-profile .informations .left{
            float: left;
            width:30%;
            text-align: center;
        }
            .container-white.container-pract-profile .informations .left img{
                margin-top:60px;
                border-radius: 360px;
                max-height: 200px;
            }
        .container-white.container-pract-profile .informations .right{
            float: right;
            width:70%;
            padding-top:15px;
        }
            .container-white.container-pract-profile .informations .right .name{
                color:#a6366b;
                font-size:30px;
                padding-left:20px;
                text-transform: uppercase;
            }
                .container-white.container-pract-profile .informations .right .name .second{
                    text-transform: none;
                    color:black;
                    text-indent: 30px;
                }
            .container-white.container-pract-profile .informations .right .siret {
                margin-top:20px;
            }
            .container-white.container-pract-profile .informations .right .adresse{
                margin-top:15px;
            }
    .container-white.container-pract-profile #map{
        width: 100%;
        height: 150px;
        display: block;
        background-image: url('../img/profile/banners/map.jpg');
        background-size: 120% auto;
        background-position: center;
        transition:all 0.5s;
    }
        .container-white.container-pract-profile #map:hover{
            background-size: 100% auto;
            transition:all 0.5s;
        }