



/****************************************************************************************/
/*                            BOUTON CONNEXION/DECONNEXION                              */
/****************************************************************************************/
#container-connexion{
    position: fixed;
    width:20%;
    bottom:10px;
}
    #container-connexion .connexion{
        background-color:white;
        color:rgba(0,0,0,0.9);
    }
        #container-connexion .connexion:hover{
            background-color:rgb(200,200,200);
        }

/****************************************************************************************/
/*                                   LOGIN PAGE                                         */
/****************************************************************************************/
.container-login{

}
    .container-login .error_message{
        width:50%;
        background-color: #ffcdcd;
        border: 1px solid #e68282;
        color:#db3737;
        padding:15px;
        text-align: center;
        margin:auto;
    }
    .container-login label{
        margin-top:30px;
        display: block;
        font-size:30px;
    }
        .container-login .remember{
            display: inline-block;
        }


/****************************************************************************************/
/*                                  REGISTER CHOOSE                                     */
/****************************************************************************************/

#registerChoose{
    padding:20px;
    overflow: hidden;
    text-align: center;
}
    #registerChoose .registerUser{
        width:50%;
        float:left;
    }
    #registerChoose .registerPract{
        width:50%;
        float:left;
    }













/****************************************************************************************/
/*                                  REGISTRATION                                        */
/****************************************************************************************/



.basicRegistration{
    padding:15px;
    width:80%;
    margin:auto;
}
    .basicRegistration .title{
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
        .container-formulaire #fos_user_registration_form_birthdate{
            width:40%;
            display: inline-block;
            margin:0;
        }
        .container-formulaire #fos_user_registration_form_birthdate select{
            margin-left: 20px;
            width:22%;
        }
        .container-formulaire #fos_user_registration_form_birthdate select:first-child{
            margin-left: 0px;
        }


        .container-formulaire #fos_user_profile_form_birthdate{
            display: inline-block;
        }
        .container-formulaire #fos_user_profile_form_birthdate select{
            margin-left: 20px;
            width:22%;
        }
        .container-formulaire #fos_user_profile_form_birthdate select:first-child{
            margin-left: 0px;
        }

        .container-formulaire .profile-picture{
            margin-top:15px;
            background-color: #ededed;
            border-radius: 4px;
            width:80%;
            margin:15px auto 0;
        }
            .container-formulaire .profile-picture label{
                display: block;
                width: 100%;
                text-align: center;
                padding-top:15px;
                margin-bottom: 15px;
            }
            .container-formulaire .profile-picture ul{
                list-style: none;
                padding:0;
                margin:0;
                margin-bottom: 15px;
                width:100%;
            }
                .container-formulaire .profile-picture ul li{
                    background-color:#ffb3b3;
                    border-radius: 4px;
                    padding:10px;
                    width:70%;
                    margin:auto;
                    border:1px solid #de5b5b;
                }
            .container-formulaire .profile-picture img{
                border-radius: 360px;
                height:70px;
                margin: 10px auto 10px;
            }
            .container-formulaire .profile-picture #deleteImgProfile{
                padding:10px;
                margin-left:20px;
                background-color:#e16464;
                border-radius: 4px;
                color:white;
                cursor: pointer;
            }
                .container-formulaire .profile-picture #deleteImgProfile:hover{
                    background-color:#cd4848;
                }





/****************************************************************************************/
/*                                    PractForm                                         */
/****************************************************************************************/

    #pract_infos_practDomains label{
        width: auto !important;
        margin-right: 10px; !important;
    }
        #pract_infos_practDomains label:after{
            content:"";
        }