

body{
    margin-top:0%;
    margin-bottom:0%;
    margin-left:0%;
    margin-right:0%;
    background-color: #f2f2f2;
    background-image: url('../img/background.jpg');
    background-repeat: repeat;
    font-family: "opensans";
}

/****************************************************************************************/
/*                                    VALEURS GERALES                                   */
/****************************************************************************************/
@font-face {
    font-family: "opensans";
    src: url("../fonts/opensans.ttf");
}
@font-face {
    font-family: "citation";
    src: url("../fonts/HoneyScript-Light.ttf");
}





li a
{
    color: #FFF;
    text-decoration: none;
}

li a:hover
{
    color: #a6a6a6;
}



.container-white{
    background-color:white;
    border:1px solid rgba(0,0,0,0.05);
    border-radius: 5px;
}




input[type=submit],.button,button
{
    display: block;
    max-width:150px;
    background-color: #a6366b;
    color:white;
    margin:20px auto 0;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    border:none;
}
    input[type=submit]:hover,.button:hover,button:hover{
        background-color: #740e3e;
        cursor: pointer;
    }

input[type=text],input[type=email],input[type=password],input[type=number],select{
    padding:5px;
    border-radius: 3px;
    border:1px solid grey;
    font-size:20px;
    box-shadow: inset 0 0 3px silver;
    background-color:rgba(0,0,0,0.02);
}







/****************************************************************************************/
/*                                    VALEURS                                           */
/****************************************************************************************/
/*

    COULEURS :

    Violet : #a6366b





*/
/****************************************************************************************/
/*                                  MAIN CONTAINER                                      */
/****************************************************************************************/
.main-container{
    margin-left:20%;
    padding:2%;
}
    .main-container .citation{
        width:50%;
        margin:auto;
        font-size:55px;
        text-align: center;
        font-family: "citation";
    }

.hidden
{
    display: none;
}

