

body{
    margin-top:0%;
    margin-bottom:0%;
    margin-left:0%;
    margin-right:0%;
    background-color: #f2f2f2;
    background-image: url('../img/background.jpg');
    background-repeat: repeat;
    font-family: "opensans";
}

/****************************************************************************************/
/*                                    VALEURS GERALES                                   */
/****************************************************************************************/
@font-face {
    font-family: "opensans";
    src: url("../fonts/opensans.ttf");
}
@font-face {
    font-family: "citation";
    src: url("../fonts/HoneyScript-Light.ttf");
}





li a
{
    color: #FFF;
    text-decoration: none;
}

li a:hover
{
    color: #a6a6a6;
    cursor: pointer;
}



.container-white{
    background-color:white;
    border:1px solid rgba(0,0,0,0.05);
    border-radius: 5px;
    padding:20px;
    text-align: center;
}
    .container-white .icone{
        max-height: 100px;
    }
    .container-white .title{
        font-size: 180%;
        text-transform: uppercase;
        border-bottom: 1px solid silver;
        width:50%;
        margin: 0 auto 20px;
        padding:20px;
    }



input[type=submit],.button,button
{
    display: block;
    max-width:150px;
    background-color: #a6366b;
    color:white;
    margin:20px auto 0;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    border:none;
    text-decoration: none;
}
    input[type=submit]:hover,.button:hover,button:hover{
        background-color: #740e3e;
        cursor: pointer;
        text-decoration: none;
    }
    input[type=submit]:hover,.button:hover,button:active{
        color:white;
    }

input[type=text],input[type=email],input[type=password],input[type=number],select,textarea{
    padding:5px;
    border:none;
    font-size:20px;
    background-color:rgba(0,0,0,0.1);
    resize: none;
}
    input[type=text],input[type=email],input[type=password],input[type=number],select,textarea:hover{
        background-color:rgba(0,0,0,0.15);
    }
input[type=file]{
    display: inline-block;
}






/****************************************************************************************/
/*                                    FORMULAIRE                                        */
/****************************************************************************************/



.container-formulaire div {
    margin-bottom: 15px;
}
.container-formulaire label{
    width:50%;
    text-align: left;
    margin-right: 5%;
    display: inline-block;
    font-size:20px;
}
.container-formulaire label:after{
    content:" :";
}


/****************************************************************************************/
/*                                  SURCHAGE BOOSTRAP                                   */
/****************************************************************************************/

.alert-info{
    background-color:#ffc0de;
    border:1px solid #ff82bd;
    text-transform: uppercase;
}


/****************************************************************************************/
/*                                  MAIN CONTAINER                                      */
/****************************************************************************************/
.main-container{
    margin-left:20%;
    padding:2%;
}

.hiddenNoImp
{
    display: none;
}

/****************************************************************************************/
/*                                    RESET PASSWORD FORMS                              */
/****************************************************************************************/

.resetContent input[type=submit]
{
    max-width: none;
}

.resetContent label
{
    width: 175px;
}

.resetContent #fos_user_resetting_form div
{
    margin-bottom: 15px;
}

.resetContent #fos_user_resetting_form div:last-child
{
    margin-bottom: 0;
}
