{% extends "base.html.twig" %}
{% block body %}
    <div class="container-white">
        <img class="icone" src="{{ asset('img/practitionners/icone.png') }}" alt="">
        <div class="title">
            Tous nos practiciens
        </div>
    </div>
{% endblock body %}
