{% extends "base.html.twig" %}
{% block body %}

    <div class="container-white">
        <div class="title">{{ "practInfos.new.title"|trans }}</div>
        <div class="container-formulaire">
            {{ form_start(form) }}
            {{ form_widget(form) }}
        </div>
        <div>
            <input type="submit" value="Enregistrer" />
        </div>
        {{ form_end(form) }}
    </div>

{% endblock body %}
