{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_admin_content %}
	<div class="row">
		<div class="col-sm-4">
			<div id="usersChart"></div>
		</div>
		<div class="col-sm-4">
			<div id="questionsChart"></div>
		</div>
	</div>
{% endblock %}