{% trans_default_domain 'FOSUserBundle' %}
    <div class="container-white container-formulaire">
        <div class="title">
            Vos informations
        </div>
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="Enregistrer" />
        </div>
    </div>
{{ form_end(form) }}
