{% extends "base.html.twig" %}
{% block body %}
    <div class="container-white">
        <div class="title">
            Interviews
        </div>
        <div class="title">
            Emissions
        </div>
        <div class="title">
            Conférence
        </div>
    </div>
{% endblock body %}
